body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 50px;
}

span {
    color: brown;
}

section {
    display: flex;
}

.web-page {
    width: 50%;
    padding-left: 5%;
}

.web-page img {
    width: 80%;
}

.image {
    text-decoration: none;
    background-image: -moz-linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

#first {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}